<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading-intro">CDC-NIOSH | Young Leader-SME | Prairie State | University of Utah | Coal India | Tata Steel | ISM Dhanbad</h3>
                    <p align="justify" style="font-size: 16px;">Highly motivated and result-oriented professional with strong work ethics and unmatched experience of working in academia, federal government, and private industry. I have a multi-disciplinary background spanning the fields of occupational health & safety, risk management, and mining engineering. I aim to become an industry expert and continue to work and inspire people towards energy sustainability through both renewable and non-renewable sources of energy. <br> Colleagues consider me a sincere and good team worker who is planned and focused towards achieving organizational and personal goals, and believes in work-life balance.</p>
                    <br>
                    <a href="../files/Resume_Yash_Gangrade_Univ_of_Utah.pdf" target="_blank" download><button class="resume"><i class="fa fa-download"></i> Resume </button></a>
                </div>
            </div>
        </div>
    </section>
