<!-- About Section -->
    <section id="workedu" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience and Education</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cdc.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015 - Present</h4>
                                    <h4 class="subheading">Center for Disease Control and Prevention</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Researcher, Pittsburgh Mining Division
                                    <br>Primary Research Areas: Longwall Mining, Ventilation, Methane Control, Shale Gas Wells, Micro-seismicity, and Ground Control.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/prairie.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014 - July 2015</h4>
                                    <h4 class="subheading">Prairie State Generating Company</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ventilation Engineer
                                      <br> UPDATE A BRIEF DESCRIPTION
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/utah.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2012 - May 2014</h4>
                                    <h4 class="subheading">University of Utah</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Master of Science (MS) in Mining and Mineral Engineering.
                                      <br>Please find the Master's Thesis on Monitoring Systems for Coal Mines Utilizing Booster Fans <a href="https://goo.gl/JwA5Tb" target="_blank">here</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ism.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2008 - July 2012</h4>
                                    <h4 class="subheading">Indian Institute of Technology Dhanbad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Technology (B.Tech.) in Mining Engineering
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tatasteel.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2011 - July 2011</h4>
                                    <h4 class="subheading">Tata Steel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Summer Research Intern
                                      <br> Worked on a project for solving spontaneous combustion problem prevailing from last 36 years.
                                      Assisted the R&D team in fabrication of microprocessor based automatic pressure balancing system for mitigation of fire in sealed gob.
                                    </p>
                                </div>
                            </div>
                        </li>
<!--                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Journey starts here!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
