<!-- About Section -->
    <section id="workedu" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience and Education</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cdc.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015 - Present</h4>
                                    <h4 class="subheading">Center for Disease Control and Prevention</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Mining Engineer</b>, Pittsburgh Mining Research Division
                                    <br><i>Primary Research Areas:</i> Longwall Mining, Ventilation, Methane Control, Shale Gas Wells, Micro-seismicity, and Ground Control.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/prairie.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014 - July 2015</h4>
                                    <h4 class="subheading">Prairie State Generating Company</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Ventilation Engineer</b>
                                      <br> Designed and managed the ventilation airway network spanning over 150 miles,
                                          essential for the health and safety of over 200 miners working in the mine
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/utah.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2012 - May 2014</h4>
                                    <h4 class="subheading">University of Utah</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>Master of Science (MS)</b> in Mining and Mineral Engineering.
                                      <br>Please find the Master's Thesis on Monitoring Systems for Coal Mines Utilizing Booster Fans <a href="https://pdfs.semanticscholar.org/ee52/ad14cddd3ffc48b226223b73dace5c459b09.pdf" target="_blank">here</a>
                                      <br>Research and Teaching Assistant, Public relations officer for Indian Student Association of Utah;
                                          International Student Ambassador; Member of Utah Tennis Club
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ismup.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2008 - July 2012</h4>
                                    <h4 class="subheading">Indian Institute of Technology Dhanbad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Bachelor of Technology (B.Tech.) </b>in Mining Engineering
                                      <br> Member of University Soccer Team; Editor and Graphic Designer for University Newsletter
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tatasteel.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2011 - July 2011</h4>
                                    <h4 class="subheading">Tata Steel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>Summer Research Intern</b>
                                      <br>Solved the spontaneous combustion problem prevailing since 1976.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
